/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014/8/18, 下午 06:23:35
    Author     : pudding
*/

footer .container {
    text-align: center;
}
.img-responsive {
    margin: 0 auto;
}

#progress {
    height: 5px;
    /*display: none;*/
}

#files {
    height: 20px;
}

#files .message {
    display:none;
}
#files a {
    /*
    font-size: large;
    text-decoration: underline;
    */
    color: white;
    cursor: pointer;
}

.intro-message h3 {
    font-size: 36px;
    text-shadow: 5px 5px #000;
    cursor: pointer;
}

