
    <!-- PHP File Host CSS -->
    <link href="{{ @BASE }}/html5/css/global.css" rel="stylesheet">
    
    <!-- Bootstrap Core CSS -->
    <link href="{{ @BASE }}/html5/landing-page/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ @BASE }}/html5/landing-page/css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ @BASE }}/html5/landing-page/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    
    
    
    <!-- Generic page styles -->
    <link rel="stylesheet" href="{{ @BASE }}/html5/jQuery-File-Upload/css/style.css">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="{{ @BASE }}/html5/jQuery-File-Upload/css/jquery.fileupload.css">
    
    <link href="{{ @BASE }}/html5/css/drop_zone_overlay.css" rel="stylesheet">