
<!-- jQuery Version 1.11.0 -->
<script src="{{ @BASE }}/html5/landing-page/js/jquery-1.11.0.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ @BASE }}/html5/landing-page/js/bootstrap.min.js"></script>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=pulipuli"></script>

<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="{{ @BASE }}/html5/jQuery-File-Upload/js/vendor/jquery.ui.widget.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{{ @BASE }}/html5/jQuery-File-Upload/js/jquery.iframe-transport.js"></script>
<script src="{{ @BASE }}/html5/jQuery-File-Upload/js/cors/jquery.postmessage-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="{{ @BASE }}/html5/jQuery-File-Upload/js/jquery.fileupload.js"></script>

<script src="{{ @BASE }}/html5/js/setup_jquery_fileupload.js"></script>
<script src="{{ @BASE }}/html5/js/setup_drop_zone.js"></script>
    
    