<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ @upload_form.title }}</title>

    <!-- PHP File Host CSS -->
    <link href="{{ @BASE }}/html5/css/global.css" rel="stylesheet">
    
    <!-- Bootstrap Core CSS -->
    <link href="{{ @BASE }}/html5/landing-page/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ @BASE }}/html5/landing-page/css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ @BASE }}/html5/landing-page/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <link href='{{ @BASE }}/html5/img/512px-Cloud_upload_font_awesome.svg.png' rel='icon' type='image/png'/>
    
    
    <!-- Generic page styles -->
    <link rel="stylesheet" href="{{ @BASE }}/html5/jQuery-File-Upload/css/style.css">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="{{ @BASE }}/html5/jQuery-File-Upload/css/jquery.fileupload.css">
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">{{ @upload_form.navbar.toggle }}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{{ @upload_form.title }}</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#how_to_use">{{ @upload_form.how_to_use.caption }}</a>
                    </li>
                    <li>
                        <a href="#contact">{{ @upload_form.navbar.contact }}</a>
                    </li>
                    <li>
                        <a href="http://pulipuli.blogspot.tw/" target="blog">{{ @upload_form.navbar.blog }}</a>
                    </li>
                    <li>
                        <a href="https://github.com/pulipulichen/php-file-host" target="github">{{ @upload_form.navbar.github }} <i class="fa fa-github fa-fw"></i></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="drag-zone-overlay">
        <div class="overlay-table">
            <div class="overlay-cell">
                <h3>
                    {{ @upload_form.form.drop_zone_overlay | raw }}
                </h3>
            </div>
        </div>
    </div>      
                        
    <!-- Header -->
    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <!-- <form action="{{ @BASE }}/upload" method="post" enctype="multipart/form-data"> -->
                        <form action="http://pc-pudding-2013.dlll.nccu.edu.tw/php-file-host/upload" method="post" enctype="multipart/form-data">
                            <label>
                            <h3>{{ @upload_form.form.input_label | raw }}</h3>
                            
                            <!--
                                    按鈕清單
                                    http://fontawesome.io/icons/
                            -->
                            <!--    
                            <a href="#" class="btn btn-default btn-lg">
                                
                                <i class="fa fa-cloud-upload fa-lg"></i> 
                                <span class="network-name">UPLOAD</span>
                            </a>
                            <input type="file" name="file" style="display: none;" />
                            -->
                            <!--
                            <h1><button type="submit">{{ @upload_form.form.submit }}</button></h1>
                            -->
                            
                            
                            
                            <!-- --------------------------------------------------------------------------------------------------- -->

                            <!-- The fileinput-button span is used to style the file input field as button -->
                            <span class="btn btn-default btn-lg fileinput-button">
                                <i class="fa fa-cloud-upload fa-lg" style="padding-right: 0.5em"></i> 
                                <span>{{ @upload_form.form.submit }}</span>
                                <!-- The file input field used as target for the file upload widget -->
                                <input id="fileupload" type="file" name="file">
                                <input name="local_upload" type="hidden" value="1" />
                            </span>
                            </label>
                            <br>
                            <br>
                            <!-- The global progress bar -->
                            <div id="progress" class="progress">
                                <div class="progress-bar progress-bar-warning"></div>
                            </div>
                            <!-- The container for the uploaded files -->
                            <div id="files" class="files">
                                <div class="col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 message success">

                                <div class="input-group">
                                    <span class="input-group-btn">
                                    <a class="btn btn-success" role="button" href="#">
                                        <i class="fa fa-file" style="padding-right: 0.5em"></i>
                                        <span>test.txt</span>
                                    </a>
                                    </span>
                                    <input type="text" class="form-control">
                                  </div><!-- /input-group -->
                                </div>
                                
                                <span class="label label-danger message error">How to Use</span>
                            </div>

                            <!-- --------------------------------------------------------------------------------------------------- -->

                            
                        </form>
                        
                        <!-- <hr class="intro-divider"> -->
                        
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <!--
                        <div class="addthis_native_toolbox" style="display:inline-block;"></div>
                        -->
                        
                        <!--
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li>
                                <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                        </ul>
                        -->
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->


    <div class="content-section-b">
        <a id="how_to_use" name="how_to_use"></a>
        <div class="container">
            <div class="row">
                {*
                如何在不同螢幕尺寸中調整大小呢？
                請看Bootstrap的說明：http://getbootstrap.com/css/#grid
                *}
                
                <!-- <div class="col-lg-8 col-lg-offset-1 col-sm-9"> -->
                <div class="col-lg-7 col-lg-offset-1 col-lg-push-4 col-sm-7 col-sm-push-4 col-xs-10 col-xs-offset-1">
                    <hr class="section-heading-spacer" />
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ @upload_form.how_to_use.caption }}</h2>
                    <p class="lead">{{ @how_to_use_content | raw }}</p>
                    
                    <!-- 
                    
                    -->
                    <a class="btn btn-primary btn-lg" href="{{ @BASE }}/ext_apps/phpliteadmin/phpliteadmin.php?action=row_view&table=file&sort=id&order=DESC " style="margin-top: 1em;">
                        <i class="fa fa-database fa-lg" style="padding-right: 0.5em"></i> 
                        <span>Uploaded Files</span>
                        <!-- The file input field used as target for the file upload widget -->
                    </a>
                    
                    <a class="btn btn-warning btn-lg" href="{{ @BASE }}/ext_apps/phpliteadmin/phpliteadmin.php?action=row_view&table=log&sort=id&order=DESC " style="margin-top: 1em;margin-left: 0.5em;">
                        <i class="fa fa-bar-chart-o fa-lg" style="padding-right: 0.5em"></i> 
                        <span>Action Logs</span>
                        <!-- The file input field used as target for the file upload widget -->
                    </a>
                </div>
                <!-- <div class="col-lg-3 col-sm-3"> -->
                <div class="col-lg-3 col-lg-pull-8 col-lg-offset-1 col-sm-3 col-sm-pull-8 col-sm-offset-1 col-xs-6 col-xs-offset-3">
                    <img class="img-responsive" src="{{ @BASE }}/html5/landing-page/img/certificate-260529_640.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <!-- Footer -->
    <footer>
        <a id="contact" name="contact"></a>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline center">
                        <li>
                            <a href="http://pulipuli.blogspot.tw/" target="blog">{{ @upload_form.navbar.blog }}</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="https://github.com/pulipulichen/php-file-host" target="github">{{ @upload_form.navbar.github }}</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">
                        {{ @upload_form.license.description | raw }} 
                        <br />                        
                        <a href="http://pulipuli.blogspot.tw" target="blogger">{{ @upload_form.license.author }}</a>
                        {{ @readme_update_year }}. 
                    </p>
                </div>
            </div>
        </div>
    </footer>

<!-- jQuery Version 1.11.0 -->
<script src="{{ @BASE }}/html5/landing-page/js/jquery-1.11.0.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ @BASE }}/html5/landing-page/js/bootstrap.min.js"></script>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=pulipuli"></script>

<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="{{ @BASE }}/html5/jQuery-File-Upload/js/vendor/jquery.ui.widget.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{{ @BASE }}/html5/jQuery-File-Upload/js/jquery.iframe-transport.js"></script>
<script src="{{ @BASE }}/html5/jQuery-File-Upload/js/cors/jquery.postmessage-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="{{ @BASE }}/html5/jQuery-File-Upload/js/jquery.fileupload.js"></script>
<script src="{{ @BASE }}/html5/js/setup_jquery_fileupload.js"></script>
    
    
    
</body>

</html>
