<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ @upload_form.title }}</title>

    <link href='{{ @BASE }}/html5/img/512px-Cloud_upload_font_awesome.svg.png' rel='icon' type='image/png'/>
    
</head>

<body>

<form action="/php-file-host/upload" method="post" enctype="multipart/form-data">
    <input id="fileupload" type="file" name="file" />
    <input name="fileupload" value="true" type="hidden" />
    <button type="submit">SUBMIT</button>
</form>
    
</body>

</html>
