<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ @upload_form.title }}</title>

    <link href='{{ @BASE }}/html5/img/512px-Cloud_upload_font_awesome.svg.png' rel='icon' type='image/png'/>
    
    <include href="include_css.html" />
</head>

<body>

    <include href="landing_page.navigation.html" />
    
    <include href="landing_page.intro_header.html" />
    
    <include href="landing_page.content_section.html" />
    
    <include href="landing_page.footer.html" />

<include href="component_drop_zone_overlay.html" />

<include href="include_js.html" />
    
</body>

</html>
