<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ @upload_form.title }}</title>

    <!-- PHP File Host CSS -->
    <link href="{{ @BASE }}/html5/css/global.css" rel="stylesheet">
    
    <!-- Bootstrap Core CSS -->
    <link href="{{ @BASE }}/html5/landing-page/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ @BASE }}/html5/landing-page/css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ @BASE }}/html5/landing-page/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <link href='{{ @BASE }}/html5/img/512px-Cloud_upload_font_awesome.svg.png' rel='icon' type='image/png'/>
    
    
    <!-- Generic page styles -->
    <link rel="stylesheet" href="{{ @BASE }}/html5/jQuery-File-Upload/css/style.css">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="{{ @BASE }}/html5/jQuery-File-Upload/css/jquery.fileupload.css">
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">{{ @upload_form.navbar.toggle }}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{{ @upload_form.title }}</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#how_to_use">{{ @upload_form.how_to_use.caption }}</a>
                    </li>
                    <li>
                        <a href="#contact">{{ @upload_form.navbar.contact }}</a>
                    </li>
                    <li>
                        <a href="http://pulipuli.blogspot.tw/" target="blog">{{ @upload_form.navbar.blog }}</a>
                    </li>
                    <li>
                        <a href="https://github.com/pulipulichen/php-file-host" target="github">{{ @upload_form.navbar.github }} <i class="fa fa-github fa-fw"></i></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

                        
    <!-- Header -->
    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <form action="{{ @BASE }}/upload?callback=test" method="post" enctype="multipart/form-data">
                            <h3>{{ @upload_form.form.input_label }}</h3>
                            
                            <!--
                                    按鈕清單
                                    http://fontawesome.io/icons/
                            -->
                            <!--    
                            <a href="#" class="btn btn-default btn-lg">
                                
                                <i class="fa fa-cloud-upload fa-lg"></i> 
                                <span class="network-name">UPLOAD</span>
                            </a>
                            <input type="file" name="file" style="display: none;" />
                            -->
                            <!--
                            <h1><button type="submit">{{ @upload_form.form.submit }}</button></h1>
                            -->
                            
                            
                            
                            <!-- --------------------------------------------------------------------------------------------------- -->

                            <!-- The fileinput-button span is used to style the file input field as button -->
                            <span class="btn btn-default btn-lg fileinput-button">
                                <i class="fa fa-cloud-upload fa-lg" style="padding-right: 0.5em"></i> 
                                <span>{{ @upload_form.form.submit }}</span>
                                <!-- The file input field used as target for the file upload widget -->
                                <input id="fileupload" type="file" name="files[]" multiple>
                            </span>
                            <br>
                            <br>
                            <!-- The global progress bar -->
                            <div id="progress" class="progress">
                                <div class="progress-bar progress-bar-warning"></div>
                            </div>
                            <!-- The container for the uploaded files -->
                            <div id="files" class="files"></div>

                            <!-- --------------------------------------------------------------------------------------------------- -->

                            
                        </form>
                        
                        <!-- <hr class="intro-divider"> -->
                        
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <!--
                        <div class="addthis_native_toolbox" style="display:inline-block;"></div>
                        -->
                        
                        <!--
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li>
                                <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                        </ul>
                        -->
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->


    <div class="content-section-b">
        <a id="how_to_use" name="how_to_use"></a>
        <div class="container">
            <div class="row">
                {*
                如何在不同螢幕尺寸中調整大小呢？
                請看Bootstrap的說明：http://getbootstrap.com/css/#grid
                *}
                
                <!-- <div class="col-lg-8 col-lg-offset-1 col-sm-9"> -->
                <div class="col-lg-7 col-lg-offset-1 col-lg-push-4 col-sm-7 col-sm-push-4 col-xs-10 col-xs-offset-1">
                    <hr class="section-heading-spacer" />
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ @upload_form.how_to_use.caption }}</h2>
                    <p class="lead">{{ @how_to_use_content | raw }}</p>
                </div>
                <!-- <div class="col-lg-3 col-sm-3"> -->
                <div class="col-lg-3 col-lg-pull-8 col-lg-offset-1 col-sm-3 col-sm-pull-8 col-sm-offset-1 col-xs-6 col-xs-offset-3">
                    <img class="img-responsive" src="{{ @BASE }}/html5/landing-page/img/certificate-260529_640.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <!-- Footer -->
    <footer>
        <a id="contact" name="contact"></a>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline center">
                        <li>
                            <a href="http://pulipuli.blogspot.tw/" target="blog">{{ @upload_form.navbar.blog }}</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="https://github.com/pulipulichen/php-file-host" target="github">{{ @upload_form.navbar.github }}</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">
                        {{ @upload_form.license.description | raw }} 
                        <br />                        
                        <a href="http://pulipuli.blogspot.tw" target="blogger">{{ @upload_form.license.author }}</a>
                        {{ @readme_update_year }}. 
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery Version 1.11.0 -->
    <script src="{{ @BASE }}/html5/landing-page/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ @BASE }}/html5/landing-page/js/bootstrap.min.js"></script>

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=pulipuli"></script>

<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="{{ @BASE }}/html5/jQuery-File-Upload/js/vendor/jquery.ui.widget.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{{ @BASE }}/html5/jQuery-File-Upload/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="{{ @BASE }}/html5/jQuery-File-Upload/js/jquery.fileupload.js"></script>
    <script>
/*jslint unparam: true */
/*global window, $ */
$(function () {
    //'use strict';
    // Change this to the location of your server-side upload handler:
    // 設定上傳網址
    //var url = window.location.hostname === 'blueimp.github.io' ?
    //            '//jquery-file-upload.appspot.com/' : 'server/php/';
    var url = "{{ @BASE }}/upload";
                
    // 開始設定檔案上傳
    var _progress = $('#progress');
    var _progress_bar = $('#progress .progress-bar');
    var _reset_key = undefined;
    var _files = $('#files');
    $('#fileupload').fileupload({
        url: url,
        dataType: 'json',
        add: function (e, data) {
            
            if (_progress_bar.width() === 0) {
                data.submit();
            }
            else {
                var _temp = _progress.clone();
                _temp.find(".progress-bar").width(0);
                _temp.insertAfter(_progress);
                _progress.remove();
                _progress = $('#progress');
                _progress_bar = $('#progress .progress-bar');
                
                data.submit();
            }
        
            
            //_progress.fadeIn();
            //var _progress_bar = $('#progress .progress-bar');
            //var _temp = _progress_bar.clone()
            //        .css("width", "0%")
            //        .appendTo(_progress);
            //alert(_temp.length);
            //_progress_bar.remove();
            clearTimeout(_reset_key);
            
            //_progress_bar.css("width", "0%");
            
            _files.empty();
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            _progress_bar.css(
                'width',
                progress + '%'
            );
        },
        done: function (e, data) {
            $.each(data.result.files, function (index, file) {
                var _link = $('<a/>').attr("href", file.url).text(file.name)
                $('<p/>').html(_link).appendTo(_files);
            });
            //_progress.fadeOut();
            //_progress_bar.css("width", "0%");
            //_reset_key = setTimeout(function () {
            //    _progress_bar.css("width", "0%");
                
                

            //}, 1000);
            
        }
    }).prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');
});
</script>
    
    
    
</body>

</html>
